.hexagon-1 {
  left: 5%;
  top: 5%;
  z-index: 5;
  width: 252px;
  height: 331px;
}

.hexagon-2 {
  left: 12%;
  top: 13%;
  z-index: 2;
  width: 242px;
  height: 297px;
}

.hexagon-3 {
  left: 25%;
  top: 23%;
  width: 224px;
  height: 205px;
}

.hexagon-4 {
  top: 50%;
  left: 12%;
  width: 194px;
  height: 240px;
}

.hexagon-5 {
  top: 60%;
  left: 24%;
  width: 201px;
  height: 234px;
}

.hexagon-6 {
  top: 70%;
  left: 40%;
  width: 293px;
  height: 132px;
}

.hexagon-7 {
  top: 62%;
  right: 20%;
  width: 307px;
  height: 208px;
}

.hexagon-8 {
  top: 40%;
  right: 1%;
  width: 208px;
  height: 301px;
}

.hexagon-9 {
  top: 20%;
  right: 5%;
  width: 173px;
  height: 323px;
}

.hexagon-10 {
  top: 35%;
  right: 14%;
  width: 140px;
  height: 270px;
}

.hexagon-11 {
  top: 23%;
  right: 23%;
  width: 149px;
  height: 263px;
}

@media screen and (max-width: 1600px) {
  .hexagon-4 {
    top: 60%;
  }

  .hexagon-5 {
    top: 68%;
    left: 27%;
  }

  .hexagon-6 {
    top: 80%;
    left: 45%;
  }

  .hexagon-7 {
    top: 74%;
    right: 17%;
  }
  .scene-container {
    height: 700px !important;
  }
}

@media screen and (max-width: 1368px) {
  .hexagon {
    max-width: 220px;
    max-height: 220px;
  }

  .hexagon-3 {
    top: 10%;
  }

  .hexagon-6 {
    top: 82%;
  }

  .hexagon-7 {
    top: 77%;
  }

  .hexagon-8 {
    top: 24%;
  }

  .hexagon-9 {
    top: 10%;
  }

  .hexagon-10 {
    top: 15%;
  }

  .hexagon-11 {
    top: 5%;
  }
  .scene-container {
    height: 800px !important;
  }
}

@media screen and (max-width: 1026px) {
  .hexagon {
    max-width: 180px;
    max-height: 180px;
  }

  .hexagon-2 {
    top: 8%;
  }

  .hexagon-3 {
    top: 13%;
  }

  .hexagon-4 {
    top: 55%;
  }

  .hexagon-6 {
    top: 65%;
  }

  .hexagon-7 {
    top: 67%;
  }

  .hexagon-8 {
    top: 44%;
  }

  .hexagon-9 {
    top: 30%;
  }

  .hexagon-11 {
    top: 30%;
  }

  .scene-container {
    height: 600px !important;
  }
}

@media screen and (max-width: 768px) {
  .hexagon {
    max-width: 160px;
    max-height: 160px;
  }

  .hexagon-2 {
    top: 8%;
  }

  .hexagon-3 {
    top: 13%;
  }

  .hexagon-4 {
    top: 69%;
  }

  .hexagon-5 {
    left: 28%;
    top: 73%;
  }

  .hexagon-6 {
    top: 75%;
    left: 47%;
  }

  .hexagon-7 {
    top: 77%;
    left: 65%;
  }

  .hexagon-8 {
    top: 20%;
  }

  .hexagon-9 {
    top: 9%;
  }

  .hexagon-10 {
    top: 15%;
  }

  .hexagon-11 {
    top: 10%;
  }

  .scene-container {
    height: 500px !important;
  }
}

@media screen and (max-width: 468px) {
  .scene-container {
    height: 400px !important;
  }

  .hexagon-1 {
    width: 112px;
    height: 148px;
    left: -15%;
  }

  .hexagon-2 {
    width: 80px;
    height: 98px;
    left: 5%;
  }

  .hexagon-3 {
    width: 78px;
    height: 72px;
    top: 17%;
    left: 20%;
  }

  .hexagon-4 {
    width: 138px;
    height: 170px;
    top: 65%;
    left: -5%;
  }

  .hexagon-5 {
    width: 81px;
    height: 95px;
    left: 20%;
    top: 77%;
  }

  .hexagon-6 {
    width: 110px;
    height: 50px;
    top: 85%;
  }

  .hexagon-7 {
    width: 170px;
    height: 115px;
    top: 85%;
    left: 72%;
  }

  .hexagon-8 {
    width: 114px;
    height: 164px;
    right: -20%;
    top: 52%;
  }

  .hexagon-9 {
    width: 94px;
    height: 175px;
    right: -12%;
    top: 0;
  }

  .hexagon-10 {
    width: 75px;
    height: 146px;
    top: 10%;
    left: 76%;
  }

  .hexagon-11 {
    width: 50px;
    height: 89px;
    top: 15%;
    left: 62%;
  }
}

.scene-container {
  display: flex;
  align-items: center;
}

canvas {
  touch-action: unset !important;
}
